@model HotelManagementSystem.Models.Booking

@{
    ViewData["Title"] = "Booking Details";
}

<h2>Booking Details</h2>

<div>
    <dl class="row">
        <dt class="col-sm-3">Customer</dt>
        <dd class="col-sm-9">@Model.Customer?.Name</dd>

        <dt class="col-sm-3">Room Type</dt>
        <dd class="col-sm-9">@Model.Room?.Type</dd>

        <dt class="col-sm-3">Check-In</dt>
        <dd class="col-sm-9">@Model.CheckInDate.ToShortDateString()</dd>

        <dt class="col-sm-3">Check-Out</dt>
        <dd class="col-sm-9">@Model.CheckOutDate.ToShortDateString()</dd>

        <dt class="col-sm-3">Guests</dt>
        <dd class="col-sm-9">@Model.NumberOfGuests</dd>

        <dt class="col-sm-3">Total</dt>
        <dd class="col-sm-9">@Model.TotalAmount.ToString("C")</dd>
    </dl>
</div>

<a asp-action="Edit" asp-route-id="@Model.BookingId" class="btn btn-warning">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back</a>
