@model IEnumerable<HotelManagementSystem.Models.Car>

@{
    ViewData["Title"] = "Cars List";
}

<h2>Cars</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Add New Car</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Model</th>
            <th>Type</th>
            <th>Price Per Day</th>
            <th>Available</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CarId</td>
                <td>@item.Model</td>
                <td>@item.Make</td>
                <td>@item.DriverId</td>
                <td>@item.Driver</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.CarId" class="btn btn-primary btn-sm">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.CarId" class="btn btn-info btn-sm">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.CarId" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
